.venv/
.pytest_cache/
__pycache__/
*.pyc
.webui_secret_key
infra/milvus/.env
.nltk_data/

# Logs
logs/
Prototype/logs/

# Données volumineuses
lora_local/data
lora_local/checkpoints/
lora_local/models/
lora_local/.git/
lora_local/.gitignore
lora_slm/data/
lora_slm/checkpoints/
lora_slm/models/
lora_slm/output/

# Base de données locale
*.sqlite

# Jupyter
.ipynb_checkpoints/

# Sessions
Prototype/sessions/
SESSION_*.md
grenier/
