[Unit]
Description=Jupyter Notebook Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/mauceric
ExecStart=/bin/bash /home/mauceric/Secretarius/deploy/scripts/start_jupyter.sh
Restart=on-failure

[Install]
WantedBy=default.target
