[Unit]
Description=llama.cpp inference server
After=network.target

[Service]
Type=simple
# utilisateur non-root conseillé, ex. "mauceric"
User=mauceric
WorkingDirectory=/home/mauceric/llama.cpp/build/bin
EnvironmentFile=/home/mauceric/llama.cpp/llama-cpp-python-env

#ExecStart=/opt/venvs/monenv/bin/python -m llama_cpp.server \
#  --model /home/mauceric/Modal/phi_4_mini_extraction_expression_qlora/artifacts/phi4-merged-Q4_K_M.gguf \
#  --host 0.0.0.0 --port 8000 --threads 8


ExecStart=/home/mauceric/llama.cpp/build/bin/llama-server \
#    -m /home/mauceric/Modal/phi_4_mini_extraction_expression_qlora/artifacts/phi4-merged-Q4_K_M.gguf \
#    -m /home/mauceric/Modèles/Phi-3.5-mini-instruct.Q6_K.gguf \
#    -m /home/mauceric/Modèles/mistral-7b-instruct-v0.2.Q6_K.gguf \
#    -m /home/mauceric/Modèles/Phi-4-mini-instruct-Q6_K.gguf \
#    -m /home/mauceric/Modèles/extracteur-phi-4-Q6_K.gguf \
    -m /home/mauceric/Secretarius/lora_local/test_wikipedia_gguf/model-Q6_K.gguf \
    -c 20480 \
#    -c 4096 \
#    -c 2048 \
    -ngl 32 \
    --host 0.0.0.0 \
    --port 8989 \
    --jinja

Restart=on-failure
RestartSec=5

# Variables d’environnement utiles pour iGPU AMD
Environment=HSA_OVERRIDE_GFX_VERSION=10.3.0

[Install]
WantedBy=multi-user.target
